/* === Small CSS Reset === */
*{
  margin: 0;
  padding: 0;
}
*, *::after, *::before{
  box-sizing: border-box;
}
/* === End reset === */

body{
  background: #222;
  font-family: monospace;
}

header{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  color: rgb(255, 80, 80);
}

.interaction{
  display: flex;
  justify-content: center;
  margin: 2em 0;
  height: 2.5em;
}

.interaction input{
  padding: 0.2em 0.6em;
  font-size: 1.4em;
  border: rgb(255, 80, 80) 1px solid;
  background: transparent;
  color: rgb(255, 80, 80);
}

.interaction button{
  padding: 0 0.6em;
  font-size: 1.2em;
  border: solid 1px rgb(255, 80, 80);
  background: none;
  color: rgb(255, 80, 80);
}


.container {
  margin: 3rem 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  /* display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  align-content: flex-start; */
}

.container img{
  border: solid 2px rgb(255, 80, 80);

/* width: 50%;
margin: 2px; */

}